<div class="container">
  <!--<img src="assets/images/lock.svg" id="lock">

  <span class="error" *ngIf="error">{{ error }}</span>

  <button (click)="loginFb()" id="fb">Login With Facebook</button><br>
  <button (click)="loginGoogle()" id="google">Login With Google</button>
  <button routerLink="/login-email" id="email">Email</button>-->

  <!--<a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>-->
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <p class="text-center" *ngIf="errCond" style="color: red;"> Username and/or Password do not match our records</p>
    <form class="form" #formData='ngForm' (ngSubmit)="onSubmit(formData)">
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" (ngModel)="email" name="email" required>
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" (ngModel)="password" name="password" required>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="!formData.valid" class="btn btn-success btn-block">Sign in</button>
        <br />
        <p class="text-center"><strong>Or sign in with:</strong></p>
        <input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Google" (click)="loginGoogle()">
        <input class="btn btn-primary btn-block" type="button" id="sign-in-facebook" value="Facebook" (click)="loginFacebook()">
        <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Twitter" (click)="loginTwitter()">
        <input class="btn btn-primary btn-block" type="button" id="sign-in-github" value="GitHub" (click)="loginGitHub()">
      </div>
    </form>
    <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
    <a routerLink="/password-reset" routerLinkActive="active" class="alc">Forgot Password? <strong>Reset password one here</strong></a>
  </div>
</div>